.hidden {display: none;}
html {
	--green: #969D84;
	--dirty-pink: #E5CCCC;
	--dark-green: #343D17;
	--text-block: #707070;
	--header-height: 100px;
	font-family: 'Arsenal', sans-serif;
}
.arabic {
	font-family: 'Amiri', serif;
}
body {
	margin: 0px;
	color: var(--text-block);
}
header {
	height: var(--header-height);
	position: fixed;
	background-color: var(--dirty-pink);
	width: calc(100% - 20%);
    padding-left: 10%;
    padding-right: 10%;
}
header img {
	display: block;
    height: 300px;
    position: absolute;
    transition: 0.2s;
}
header ul {
	list-style-type: none;
    padding-left: 0px;
    line-height: var(--header-height);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}
header ul a li {
	display: inline-block;
	margin-left: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
header ul a {
	text-decoration: none;
	color: var(--text-block);
}
header ul a:hover {
	color: var(--dark-green);
}
header .switchers, header .nav{
	float: right;
}
header .switchers {
	margin-left: 30px;
}
header .switchers .lang {
	padding: 15px;
	border-radius: 50%;
	background-color: #fff;
	font-size: 25px;
	line-height: var(--header-height);
	cursor: pointer;
	letter-spacing: 3px;
}
header .social {
	margin-left: 20px;
    font-size: 25px;
    line-height: 100px;
    color: var(--text-block);
}
header .social:hover {
	color: var(--dark-green);
}
.logo-scrolled {
	height: calc(var(--header-height) - 10px);
	padding-top: 5px;
	padding-bottom: 5px;
}
#hero {
	background-image: url(http://via.placeholder.com/1920x1080);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 100px);
    padding-top: 100px;
}

.contact-form {
	width: 420px;
	max-width: 500px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: var(--dark-green);
	display: inline-block;
	float: right;
	margin-right: 80px;
	margin-top: 40px;
	color: white;
}

.contact-form input, .contact-form textarea, .contact-form select {
	display: inline;
    width: 400px;
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 0px;
    color: var(--text-block);
    font-family: 'Arsenal', sans-serif;
}

.contact-form select {
	width: 150px;
}

.contact-form label {
	display: block;
}

.contact-form input[type=submit] {
	width: 420px;
}