.hidden {display: none;}
html {
	--green: #969D84;
	--dirty-pink: #E5CCCC;
	--dark-green: #343D17;
	--text-block: #707070;
}
body {
	margin: 0px;
	color: var(--text-block);
}
header {
	height: 100px;
	position: fixed;
	background-color: var(--dirty-pink);
	width: 100%;
}
header img {
	display: block;
    width: 250px;
    height: 300px;
    position: absolute;
    margin-left: 80px;
    transition: 0.2s;
}
header ul {
	list-style-type: none;
    padding-left: 0px;
    line-height: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}
header ul li {
	display: inline-block;
	margin-left: 20px;
	padding-left: 40px;
	padding-right: 40px;
}
header .switchers, header .nav{
	float: right;
}
header .switchers .lang {
	padding: 15px;
	border-right: 50%;
	background-color: #fff;
	font-size: 25px;
}
.logo-scrolled {
	height: 100px;
}